body {
    margin: 0;
    padding: 0;
    background-image: url('../assets/background.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    height: 100%; 
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 20px;
    margin-top: 50px; 
    box-sizing: border-box; 
}

h1 {
    margin-bottom: 20px;
    color: #fafafa;
}


h2 {
    margin-top: 0;
    margin-bottom: 20px; 
    text-align: center;
}
